<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mylibrary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookManagement">
        <activity android:name=".EditBookActivity"></activity>
        <activity android:name=".WebsiteActivity" />
        <activity
            android:name=".FavoriteBooksActivity"
            android:label="@string/favorite_books" />
        <activity
            android:name=".ReadingBooksActivity"
            android:label="@string/reading_books" />
        <activity
            android:name=".WishListBooksActivity"
            android:label="@string/wish_list" />
        <activity
            android:name=".FinishedBooksActivity"
            android:label="@string/finished_books" />
        <activity
            android:name=".BookActivity"
            android:label="@string/book_details" />
        <activity
            android:name=".AllBooksActivity"
            android:label="@string/all_books" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>